@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  font-feature-settings: 'case', 'calt';
}

h1, h2 {
  @apply font-semibold
}

a {
  @apply text-zinc-500 hover:text-zinc-900 dark:hover:text-zinc-200 underline-offset-2;
}

p {
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 6;
  -ms-hyphenate-limit-chars: 10 4 6;
  hyphenate-limit-chars: 10 4 6;
}