@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* h2, h3, h4 {
  @apply font-semibold
}

h1 {
  @apply text-4xl sm:text-5xl md:6xl font-bold tracking-tight
} */
