@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-feature-settings: 'case', 'calt';
}

h1, h2 {
  @apply font-semibold
}

a {
  @apply text-zinc-500 hover:text-zinc-900 dark:hover:text-zinc-200 hover:underline
}