@media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-rgb: 0, 0, 0;
    }
}
  
html {
    height: 100%;
}
  
body {
    color: rgb(var(--foreground-rgb));
    font-feature-settings: 'case', 'calt';
}