@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
	}
}

* {
	-webkit-tap-highlight-color: transparent;
}
  
html {
	height: 100%;

	&.is-changing .transition-fade {
		transition: opacity 0.25s;
		opacity: 1;
	}
	
	&.is-animating .transition-fade {
  		opacity: 0;
	}
}
  
body {
	color: rgb(var(--foreground-rgb));
	font-feature-settings: 'case', 'calt';
}

