@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
	}
}

* {
	-webkit-tap-highlight-color: transparent;
}
  
html {
	height: 100%;

	.transition-fade {
		transition: opacity 0.5s, transform 0.25s 0s;
		opacity: 1;
		transform: translate(0, 0);
	}

	&.is-changing .transition-fade {
	}
	
	// &.is-animating .transition-fade {
  	// 	opacity: 0;
	// 	// transform: translate(0, 64px);
	// }
	
	&.is-leaving .transition-fade {
		opacity: 0;
	}

	&.is-rendering .transition-fade {
		transform: translate(0, 64px);
	}
}
  
body {
	color: rgb(var(--foreground-rgb));
	font-feature-settings: 'case', 'calt';
}

