@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
    
  html {
    height: 100%;
  
    &.is-changing .transition-fade {
      transition: opacity 0.25s;
      opacity: 1;
    }
    
    &.is-animating .transition-fade {
      opacity: 0;
    }
  }
    
  body {
    font-feature-settings: 'case', 'calt';
  }
  
  img {
    @apply select-none;
  }

  h1, h2, h3 {
    @apply font-semibold dark:tracking-wide;
  }
    
  h2 {
    @apply mb-4;
  }
  
  a {
    @apply text-sand-11 dark:text-sand-dark-11 hover:text-sand-12 dark:hover:text-sand-dark-12 underline-offset-2 decoration-[1px];
    transition: all .2s ease;
  }
    
  p {
    -webkit-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 6;
    -ms-hyphenate-limit-chars: 10 4 6;
    hyphenate-limit-chars: 10 4 6;
  }
  
  p {
    @apply max-w-none sm:max-w-[80%] lg:max-w-none;
  
    & + ul, 
    & + p { @apply mt-2; }
    & + h2 { @apply mt-20; }
  }
  
  ul {
    @apply flex flex-col gap-2;
  
    & + p { @apply mt-2; }
    & + h2 { @apply mt-20; }
  }
}