.body {
   @apply antialiased text-black dark:text-titan-50 bg-sand-100 dark:bg-sand-dark-100 text-[14px] selection:bg-[#D8ECFC] selection:text-[#008CFF] dark:selection:bg-[#0E1E35] min-h-full flex flex-col;

   .layout {
      @apply pt-[140px] md:pt-[180px] h-auto px-4 mb-auto lg:px-8 
      grid grid-cols-8 sm:grid-cols-16 gap-4 lg:gap-8;
   }
}
